-DHADOOP_USER_NAME=hive
-server
-Xmx4G
-Xms4G
-XX:+UseG1GC
-XX:G1HeapRegionSize=32M
-XX:+UseGCOverheadLimit
-XX:+ExplicitGCInvokesConcurrent
-XX:+HeapDumpOnOutOfMemoryError
-XX:+ExitOnOutOfMemoryError
#-XX:+PrintGCApplicationConcurrentTime
#-XX:+PrintGCApplicationStoppedTime
#-XX:+PrintGCCause
#-XX:+PrintGCDateStamps
#-XX:+PrintGCTimeStamps
#-XX:+PrintGCDetails
#-XX:+PrintReferenceGC
#-XX:+PrintClassHistogramAfterFullGC
#-XX:+PrintClassHistogramBeforeFullGC
#-XX:PrintFLSStatistics=2
#-XX:+PrintAdaptiveSizePolicy
#-XX:+PrintSafepointStatistics
#-XX:PrintSafepointStatisticsCount=1
